<!doctype html>
<html ng-app="EstudiantesApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ejemplo MEAN</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/controlador.js"></script>

</head>
<body ng-controller="mainController">
	<div class="container">

		<div class="jumbotron text-center">
			<h1>Ejemplo MEAN</h1>
		</div>

		
		<div class="row">

			<div class="col-sm-8 col-sm-offset-2">

				<table class="table table-striped">
					<thead>
						<tr class="info">
							<th>Nombre</th>
							<th>Carrera</th>
							<th>Semestre</th>
							<!--<th>Fecha Nacimiento</th>-->
							<th>Matriculado</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="estudiante in estudiantes" ng-click="selectEstudiante(estudiante)">
							<td>{{ estudiante.nombre }}</td>
							<td>{{ estudiante.carrera }}</td>
							<td>{{ estudiante.semestre }}</td>
							<!--<td>{{ estudiante.fechanac }}</td>-->
							<td>{{ (estudiante.matriculado === true)? 'Sí' : 'No' }}</td>						
						</tr>
					</tbody>
					<tfoot>
						<tr class="info">
							<td colspan="5" class="text-center">Total Registros: <span class="label label-success">{{ estudiantes.length }}</span></td>
						</tr>
					</tfoot>
				</table>		

			</div>

		</div>
		
		<div class="row">

			<div class="col-sm-6 col-sm-offset-3 text-center">
				
				<div class="jumbotron text-center">
					<h3>Registro de Estudiantes</h3>
				</div>
				<form name="myForm">
					<div class="form-group">
						<input type="text" id="nombre" name="carrera" class="form-control input-md text-center" placeholder="Nombre" ng-model="newEstudiante.nombre" required>
						<br>
						
						<input type="text" id="carrera" name="carrera" class="form-control input-md text-center" placeholder="Carrera" ng-model="newEstudiante.carrera" required>
						<br>
						<input type="number" id="semestre" id="name" class="form-control input-md text-center" placeholder="Semestre" ng-model="newEstudiante.semestre" required>
						<br>
						
						<!--
						<input type="date" class="form-control input-md text-center" placeholder="Fecha Nacimiento" ng-model="newEstudiante.fechanac">
						-->
						<br>
						<label for="matriculado">Matriculado</label>
						<input type="checkbox" id="matriculado" name="matriculado" class="form-control input-md text-center" ng-model="newEstudiante.matriculado">
					</div>

					<button type="submit" class="btn btn-success btn-md" ng-click="registrarEstudiante()" ng-disabled="myForm.$invalid || selected">Registrar</button>

					<button type="submit" class="btn btn-info btn-md" ng-click="modificarEstudiante(newEstudiante)" ng-disabled=" !selected">Modificar</button>

					<button type="submit" class="btn btn-danger btn-md" ng-click="borrarEstudiante(newEstudiante)" ng-disabled=" !selected">Eliminar</button>

				</form>
			</div>
			

		</div>
	</div>
</body>
</html>